# PostgreSQL
PG_URL=YOUR DB_URL

# RAG Service
RAG_SERVICE_URL=http://localhost:8000
# Public URL of this server (used to build absolute image URLs for RAG OCR)
BASE_URL=http://localhost:8090


# Redis
REDIS_ADDR=
REDIS_PASSWORD=

# SMTP (ex: Mailtrap)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# HTTP Server
HTTP_PORT=: